<% action_url = @cat.persisted? ? cat_url(@cat) : cats_url %>
<% form_method = @cat.persisted? ? "PATCH" : "POST" %>
<% submit_text = @cat.persisted? ? "Update Cat!" : "Create Cat!" %>

<form action="<%= action_url %>" method="POST">
  <input type="hidden" name="_method" value="<%= form_method %>">
  
  <label for="cat_name">Cat name</label>
  <input type="text" name="cat[name]" id="cat_name" value="<%=@cat.name %>">
  <br>
  <label for="cat_age">Cat age</label>
  <input type="text" name="cat[age]" id="cat_age" value="<%=@cat.age %>">
  <br>
  
  <label for="cat_color">color</label>
  
  <select name="cat[color]" id="cat_color", default>
    
    <option value='%<@cat.color>'><%= @cat.color %></option>
    <% Cat::CAT_COLORS.each do |color| %>
      <option value ="<%= color %>" ><%= color %></option>
    <% end  %>
  </select>
  <br>
  
  <label for="cat_sex">Cat sex</label>
  <% Cat::SEXES.each do |sex| %>
    <label><%= sex %></label>
    <input 
    type="radio" 
    name="cat[sex]" 
    value="<%= sex %>" <%= @cat.sex == sex ? "checked" : ""  %> >
  <% end %>
  <br>
  
  <label for="cat_birth_date">Birth date</label>
  <input type="date" name=cat[birth_date] id ="cat_birth_date">
  <br>
  
  <label for="cat_description">Cat description</label>
  <input type="textarea" name = "cat[description]" id ="cat_description" value="<%= @cat.description %>">
  
  <br>

  <input type="submit" value="<%= submit_text %>">
</form>