<b>Names of all the cats</b>
<ul>  
  <table>
      <tr>
          <td>Cat Name:</td>
          <td><%= @cat.name %></td>
      </tr>
      <tr>
          <td>Cat Age:</td>
          <td><%= @cat.age %></td>
      </tr>
  </table>
  <br>
  
  <% @cat.rental_requests.order(:start_date).each do |rr| %>
    <li>start date: <%= rr.start_date %> end date: <%= rr.end_date %> status: <%= rr.status %>
      <% if rr.cat.user_id == current_user.id %>
        <form action="\cat_rental_requests\<%= rr.id %>\deny" method="POST">
          <input type="submit" value="Deny">
          <input
              type="hidden"
              name="authenticity_token"
              value="<%= form_authenticity_token %>">
        </form>
        <form action="\cat_rental_requests\<%= rr.id %>\approve" method="POST">
          <input type="submit" value="Approve">
          <input
              type="hidden"
              name="authenticity_token"
              value="<%= form_authenticity_token %>">
      </form>
      <% end %>
    
    </li>
  <% end %>
  <br>
</ul>